@media (max-width: 600px) {
  html {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    padding: 0;
    width: 100%;
    align-self: center;
  }

  header {
    width: 100%;
  }

  .carousel__control, .carousel__control--right, .carousel__control--left {
    display: none;
  }

  .news-banner__content {
    align-self: center;
    align-items: center;
    max-width: 300px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .news-banner__label {
    display: none;
  }

  .news-banner__content > p {
    margin: 0px;
    padding: 0px;
  }

  .news-categories {
    overflow-x: auto;
    white-space: nowrap;
    align-self: center;
    display: none;
  }

  .news-image {
    height: min-content;
  }

  .featured-news {
    align-self: center;
  }

  .news-grid {
    margin: 0 auto;
  }

  .imagemcont > img {
    max-width: 50%;
  }
}